body {
    background: #f1f2f2;
    background-size: 110% 1800%;
    font-family: 'Oxygen', sans-serif; 
    font-weight: 300; 
}

h1 {
    font-family: 'Oxygen', sans-serif; 
    font-weight: 300;
}

#main_list li{
    padding-left: 35px;
    padding-right: 35px;
    border-left: 1px solid #e6e7e8;
}

#main_list li:hover {
    background-color: transparent;
}

#logo1 img{
    float: left;
    width: 140px;
    padding-left: -5px;
    padding-right: 10px;
}

#reg {
    border-radius: 0;
    background: #f65a5b;
    padding-left: 50px;
    padding-right: 50px;
}

#reg:hover {
    background: #f65a5b;
}

#nav-mobile li {
    height:50px;
}

#nav-mobile li a{
    line-height: 52px;
}

#nav-mobile li a:hover{
    line-height: 52px;
    font-weight: 600;
}

.userd{
    color: #737373;
    background: #fff;
}

#user-img{
    margin-right: 10px;
    margin-top: 8px;
    height: 45px;
    width: 45px;
}

#user-data,#user-data:hover,.userd:hover{
    background: #fff;
}

#logo-container{
    padding-left: 10px;
}

#deatil-tab{
    padding-left: 70px;    
    padding-right: 30px;
}

.no-hover, .no-hover:hover{
    background-color: transparent;
}

.nav-wrapper #right-tabs li{
    height: 50px;
    line-height: 50px;
}

.nav-wrapper #right-tabs li a{
    margin-top: -5px;
}

#take {
    background:#2ec866;
    float: right;
    margin-top: 15px;
    margin-bottom: 20px;
}

#take: hover {
    background: #43CE75;
}

#quest p{
    min-height: 130px;
}