.icon-block {
  padding: 0 15px;
}

body {
    background: #47A3FF;
    font-family: 'Oxygen', sans-serif; 
    font-weight: 300; 
    margin: 8% 33%;
}

.login_box {
    margin-left:33%;
    margin-top: 10%;
}