/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

body {
    background: #47A3FF;
    background-size: 110% 1800%;
    font-family: 'Oxygen', sans-serif; 
    font-weight: 300; 
}

#main_list li{
    padding-left: 35px;
    padding-right: 35px;
    border-left: 1px solid #e6e7e8;
}

#main_list li:hover {
    background-color: transparent;
}

#reg {
    border-radius: 0;
    background: #f65a5b;
    padding-left: 50px;
    padding-right: 50px;
}

#reg:hover {
    background: #f65a5b;
}

.blink {
    -webkit-animation: blink 1.5s infinite;
    animation: blink 1.5s infinite
}

@-webkit-keyframes blink {
    0 {
        opacity: 0
    }
    40% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    90% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes blink {
    0 {
        opacity: 0
    }
    40% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    90% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

#logo1 img{
    float: left;
    width: 175px;
    padding-left: 35px;
}

#logo2 img{
    
    float: left;
    width: 150px;
    padding-right: 5px;
    padding-top: 2.5px;
}

#take {
    background: #2ec866;
}


