<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
        <title>TechGeek | Excel 2015</title>

        <!-- CSS  -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
        <link href="../static/css/dashb.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="../static/css/leader.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        
    </head>
    <body>
        <nav class="white" style="height:60px;position:fixed;z-index:5000;" role="navigation">
        <a target="_blank" href="http://www.excelmec.org" id="logo1"><img src="../static/img/logo-mec.png"></a>
                <div class="nav-wrapper">
                    <a id="logo-container" href="#" class="brand-logo black-text">TechGeek</a>
                    <ul id="main_list" class="right hide-on-med-and-down">
                        <li style=""><a href="../logout" id="reg" class="waves-effect waves-light btn">Log out</a></li>
                        <li>
                            <a href="#" class="black-text">
                                <img id="user-img" class="circle responsive-img" src="../static/img/wall.jpg">
                                <p style="float:right;margin-top:-1px;">{{ name }}</p>
                            </a>
                        </li>
                    </ul>
                </div>
    </nav>
    <nav class="light-blue lighten-1" style="top:60px;height:50px;position:fixed;z-index:5000;" role="navigation">
        <div class="nav-wrapper">
            <ul class="right hide-on-med-and-down" id="right-tabs" style="display:block;padding-left:50px;">
                <li>
                    <a href="../leaderboard" class="no-hover tooltipped" data-position="bottom" data-delay="50" data-tooltip="Refresh">
                        <i class="mdi-navigation-refresh"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="no-hover tooltipped" data-position="bottom" data-delay="50" data-tooltip="More" id="right-menu" href="#right-menu">
                        <i class="mdi-navigation-more-vert"></i>
                    </a>
                </li>
            </ul>
            <ul id="nav-mobile" class="side-nav" style="top:60px;">
                <li><a href="../dashboard">DashBoard</a></li>
                <li><a href="#">Daily Challenges</a></li>
                <li class="active"><a href="../leaderboard">LeaderBoard</a></li>
                <!--<li><a href="#">Report a Bug</a></li>
                <li><a href="#">The Team</a></li>-->
                <li><a href="../about">About TechGeek</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse" style="display:block;padding-left:50px;margin-top:-5px;">
                <i class="mdi-navigation-menu"></i>
            </a>
        </div>
    </nav>
    
        <div style="padding-top:150px;padding-bottom:50px;">
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-left">Rank</th>
                <th class="text-left">Name</th>
                <th class="text-left">College</th>
                <th class="text-left">Score</th>
            </tr>
        </thead>
        <tbody class="table-hover">
        {% for i in leaderboard %}
            <tr>
                <td class="text-left">{{ forloop.counter }}</td>
                <td class="text-left">{{ i.name }}</td>
                <td class="text-left">{{ i.college }}</td>
                <td class="text-left">{{ i.totalscore }}</td>
            </tr>
        {% endfor %}
        </tbody>
</table>
        </div>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="../static/js/materialize.js"></script>
        <script src="../static/js/init.js"></script>
        <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.nicescroll/3.6.0/jquery.nicescroll.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("body").niceScroll({
                    scrollspeed: 75,
                    mousescrollstep: 40,
                    zindex: 5000,
                    hidecursordelay: 400,
                    cursoropacitymin: 0.4,
                    cursoropacitymax: 0.9,
                    cursorwidth: "7px",
                    cursorborderradius: "3px",
                    horizrailenabled: false
                });    
            });
        </script>
    </body>
 </html>