<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
        <title>TechGeek | Excel 2015</title>

        <!-- CSS  -->
        <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
        <link href="../static/css/login.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        
    </head>
    <body class="center">        
        <div class="row" style="text-align:center;">
            <div class="col s12 m4">
                <div class="card" style="width:400px;border-radius:0;">
                    <div class="card-content">
                        <span class="card-title" style="color:#1c1c1c;">Login | TechGeek</span>
                        <p class="red-text">
                            {% if errors %}
                                {% for i in errors %}
                                {{ i }}
                                {% endfor %}
                            {% endif %}
                        </p>
                        <form class="col s12" action="signin" method="post">
                            <div class="row center">
                                <div class="input-field col s12">
                                    <i class="mdi-action-account-circle prefix"></i>
                                    <input id="user"  name="username" type="text" class="validate" required autocomplete="off">
                                    <label for="user">Userame</label>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="input-field col s12">
                                    <i class="mdi-action-lock-outline prefix"></i>
                                    <input id="pass"  name="password" type="password" class="validate" required autocomplete="off">
                                    <label for="pass">Password</label>
                                </div>
                            </div>
                            <div class="row center" style="padding-top:5px;">
                                <button  class="waves-effect waves-light btn" style="background:#8FD049;border-radius:0;padding-left:50px;padding-right:50px;">
                                    Sign In
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a href="../signup" class="waves-effect waves-light btn indigo" style="float:left;border-radius:0;width:86.5%;margin-top:-2.5%;margin-left:10px;">Sign Up Here</a>
        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="../static/js/materialize.js"></script>
        <script src="../static/js/init.js"></script>
    </body>
</html>