<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <link rel="shortcut-icon" href="../static/img/favicon.png" type="image/x-icon">
        <title>TechGeek | Excel 2015</title>

        <!-- CSS  -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
        <link href="../static/css/dashb.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        
    </head>
    <body>
        <nav class="white" style="height:60px;position:fixed;z-index:5000;" role="navigation">
        <a href="#" id="logo1"><img src="img/logo-mec.png"></a>
                <div class="nav-wrapper">
                    <a id="logo-container" href="#" class="brand-logo black-text">TechGeek</a>
                    <ul id="main_list" class="right hide-on-med-and-down">
                        <li style=""><a  href="../logout" id="reg" class="waves-effect waves-light btn">Log out</a></li>
                        <li>
                            <a href="#" class="black-text">
                                <img id="user-img" class="circle responsive-img" src="../static/img/wall.jpg">
                                <p style="float:right;margin-top:-1px;">{{ name }}</p>
                            </a>
                        </li>
                    </ul>
                </div>
    </nav>
    <nav class="light-blue lighten-1" style="top:60px;height:50px;position:fixed;z-index:5000;" role="navigation">
        <div class="nav-wrapper">
            <ul class="right hide-on-med-and-down" id="right-tabs" style="display:block;padding-left:50px;">
                <li>
                    <a href="#" class="no-hover tooltipped" data-position="bottom" data-delay="50" data-tooltip="More" id="right-menu" href="#right-menu">
                        <i class="mdi-navigation-more-vert"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
        
        
        <div class="container" style="Padding-top:200px;">
        <div class="section">
            <div class="row isotope">
                            
                <div class="col s12 m12 l12">
                    <div class="card" id="quest">
                        <div class="card-content">
                            {% if timeup %}
                            <span class="card-title black-text">Yo Boss! Time is Up!</span>
                            <p>Sorry,Time's Up .Please Comeback Tomorrow for a new Challenge</p>
                                {% else %}
                                {% if submitted %}
                                 <span class="card-title black-text">Challenge Already Completed</span>
                                    <p>You Have Completed This Challenge.Please Come back tomorrow for a new Challenge</p>
                                {% else %}
                                <span class="card-title black-text">Challenge Completed</span>
                                <p>Your Submission Has Been Recorded Successfully.Visit leaderboard to see your position.
                                </p>
                            {% endif %}
                            {% endif %}
                            <a href="../dashboard" id="take" class="waves-effect waves-light btn-large">Back to Dashboard!</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
        <div style="float:right;margin-top:-23%;padding-right:2.5%;">
            <a class="btn-floating btn-large waves-effect waves-light" target="_blank" href="https://www.facebook.com/excelmec" style="background:#f2f1f1;">
                <i class="fa fa-facebook" style="color:#3b5998;"></i>
            </a><br>
            <a class="btn-floating btn-large waves-effect waves-light" target="_blank" href="https://plus.google.com/105749244546874520653" style="background:#f2f1f1;margin-top:15px;">
                <i class="fa fa-google-plus" style="color:#e60000;"></i>
            </a><br>
            <a class="btn-floating btn-large waves-effect waves-light" target="_blank" href="https://twitter.com/excelmec" style="background:#f2f1f1;margin-top:15px;">
                <i class="fa fa-twitter" style="color:#4099ff;"></i>
            </a><br>
            <a class="btn-floating btn-large waves-effect waves-light" target="_blank" href="https://www.youtube.com/user/excelmec" style="background:#f2f1f1;margin-top:15px;">
                <i class="fa fa-youtube" style="color:#e60000;"></i>
            </a>
        </div>
        
        
        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        <script type='text/javascript' src='js/isotope.min.js'></script>
        <script type='text/javascript' src='js/packery-mode.pkgd.min.js'></script>
        <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.nicescroll/3.6.0/jquery.nicescroll.min.js"></script>
        <script>
            $(document).ready( function() {  
                $('.isotope').isotope({
                    layoutMode: 'packery',
                    itemSelector: '.col',
                    packery: {
                        gutter: 0
                    }
                });
                $("body").niceScroll({
                    scrollspeed: 75,
                    mousescrollstep: 40,
                    zindex: 5000,
                    hidecursordelay: 400,
                    cursoropacitymin: 0.4,
                    cursoropacitymax: 0.9,
                    cursorwidth: "7px",
                    cursorborderradius: "3px",
                    horizrailenabled: false
                });
            });
        </script>
        
    </body>
</html>
