{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
        <title>TechGeek | Excel 2015</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
        <link href="../static/css/signup.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        
    </head>
    <body>        
        <div class="row" style="text-align:center;">
            <div class="col s12 m4">
                <div class="card" style="width:400px;border-radius:0;">
                    <div class="card-content">
                        <span class="card-title" style="color:#1c1c1c;">Signup | TechGeek</span>
                        <p class="red-text">
                            {% if errors %}
                                {% for i in errors %}
                                {{ i }}
                                {% endfor %}
                            {% endif %}
                        </p>
                        <form class="col s12" action="signup" method="post">
                            <div class="row center">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="user" name="name" type="text" class="validate" required autocomplete="off">
                                    <label for="user">Name</label>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">email</i>
                                    <input id="mail" type="email" class="validate" name="email" required autocomplete="off">
                                    <label for="mail">Email</label>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input name="username" type="text" class="validate" required autocomplete="off">
                                    <label>Username</label>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">lock</i>
                                    <input id="pass"  name="password" type="password" class="validate">
                                    <label for="pass">Password</label>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">verified_user</i>
                                    <input name="confirmpassword" type="password" class="validate" required autocomplete="off">
                                    <label >Confirm Password</label>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">school</i>
                                    <input id="clg" type="text" class="validate"  name="college" required autocomplete="off">
                                    <label for="clg">College</label>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">phone</i>
                                    <input id="mob" type="text" name="mob" class="validate">
                                    <label for="mob">Mobile</label>
                                </div>
                            </div>
                            <div class="row center" style="padding-top:5px;">
                                <button  class="waves-effect waves-light btn" style="background:#8FD049;border-radius:0;padding-left:50px;padding-right:50px;">
                                    Sign Up
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{% static 'js/materialize.js' %}"></script>
        <script src="{% static 'js/init.js' %}"></script>
    </body>
</html>