
a,.tp-caption a.btn:hover {
	color: #0a8ad5;
}
.top-nav-collapse {
	background: #0a8ad5;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #0a8ad5;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #0a8ad5;
}

.widget-avatar .avatar:hover {
    border: 5px solid #0a8ad5;
}

.bg-skin {
	background: #0a8ad5;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #0a8ad5;
}

footer {
    background-color: #0a8ad5;
}

.btn-skin {
  color: #fff;
  background-color: #0a8ad5;
  border-color: #0a8ad5;
}
